/* ////////// HEADER ////////// */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    background: #FAE9D2;
    transition: all .5s linear;
    position: sticky;
    top:0;
}
#header.sticky{
  background: hsla(35, 80%, 90%, 0.95);
  box-shadow: 0 0 10px #00000016;
}

#header .logo img{
    width: 150px;
}
#header nav{
    display: flex;
}

#header nav ul{
    display: flex;
}

#header nav li{
    margin: 0 .5rem;
    align-items: center;
    text-transform: uppercase;
}

#header .lang{
    display: flex;
    align-items: center;
}

#header [data-reload]{
    margin: 0 .5rem;
    display:flex;
    align-items: center;
    cursor: pointer;
}
#header [data-reload] span{
    margin: 0 .2rem;
    font-weight: 600;
}

/* ////////// BANNER ////////// */

#banner{
    height: 570px;
    background-color: #FAE9D2;
    background-image: url(../asset/img/landing-bg.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: 300px;
    background-position-y: -150px;
}
#banner .main{
    width: 50%;
    height: 570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#banner .title{
    font-size: 72px;
    line-height: 1;
    margin-bottom: 20px;
}
#banner .subtitle{

}


/* ////////// ABOUT ////////// */
#about{
    background: rgb(250,233,208);
    background: linear-gradient( rgba(250,233,208,1) 0%, rgba(252,240,223,1) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}



/* ////////// بالعربي ////////// */
 
html[dir="rtl"] #banner {
    background-position-x: -300px;
}

html[dir="rtl"] #banner .title{
    line-height: 1.5;
}