/* ////////// HEADER ////////// */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;
    background: #FAE9D2;
    transition: all .5s linear;
    position: sticky;
    top:0;
}
#header.sticky{
  background: hsla(35, 80%, 90%, 0.95);
  box-shadow: 0 0 10px #00000016;
}

#header .logo img{
    width: 150px;
}
#header nav{
    display: flex;
}

#header nav ul{
    display: flex;
}

#header nav li{
    margin: 0 .5rem;
    align-items: center;
    text-transform: uppercase;
}

#header .lang{
    display: flex;
    align-items: center;
}

#header [data-reload]{
    margin: 0 .5rem;
    display:flex;
    align-items: center;
    cursor: pointer;
}
#header [data-reload] span{
    margin: 0 .2rem;
    font-weight: 600;
}

/* ////////// BANNER ////////// */

#banner{
    height: 570px;
    background-color: #FAE9D2;
    background-image: url(../asset/img/landing-bg.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: 300px;
    background-position-y: -150px;
}
#banner .main{
    width: 50%;
    height: 570px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#banner .title{
    font-size: 72px;
    line-height: 1;
    margin-bottom: 20px;
}
#banner .subtitle{

}

#banner .more{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0; 
    padding: .4rem;
    text-transform: uppercase;
    color:white; 
    background-color: #E5901F;
    width: fit-content;
    border-radius: 3px;
    --arrowSize: 8px; 

}

#banner .more span{
    color: #fff;
}

.arrows {
    /* position: relative; */
   /**/
    /* position: absolute; */
    top: 50%;
    left: 50%;
    width: 15px;
   /**/
    height: 15px;
    transform: translate(-50%, -50%);
}
.arrows:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2.6666666667px solid rgba(255, 2550, 255, 0.7);
    border-bottom: 2.6666666667px solid rgba(255, 2550, 255, 0.7);
    transform: translate(2.6666666667px, 10.6666666667px) rotate(-45deg);
    animation: arrows 3s linear infinite;
}
.arrows:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2.6666666667px solid rgba(255, 2550, 255, 0.7);
    border-bottom: 2.6666666667px solid rgba(255, 2550, 255, 0.7);
    transform: translate(5.3333333333px, 0px) rotate(-45deg);
    animation: arrows 3s linear infinite -1.5s;
}
@keyframes arrows {
    0% {
        border-left: 2.6666666667px solid rgba(255, 2550, 255, 0);
        border-bottom: 2.6666666667px solid rgba(255, 2550, 255, 0);
        transform: translate(-1.3333333333px, -5.3333333333px) rotate(-45deg);
   }
    10%, 90% {
        border-left: 2.6666666667px solid rgba(255, 2550, 255, 0);
        border-bottom: 2.6666666667px solid rgba(255, 2550, 255, 0);
   }
    50% {
        border-left: 2.6666666667px solid rgba(255, 2550, 255, 0.7);
        border-bottom: 2.6666666667px solid rgba(255, 2550, 255, 0.7);
        transform: translate(-1.3333333333px, 0px) rotate(-45deg);
   }
    100% {
        border-left: 2.6666666667px solid rgba(255, 2550, 255, 0);
        border-bottom: 2.6666666667px solid rgba(255, 2550, 255, 0);
        transform: translate(-1.3333333333px, 5.3333333333px) rotate(-45deg);
   }
}


/* ////////// ABOUT ////////// */
#about{
    background: rgb(250,233,208);
    background: linear-gradient( rgba(250,233,208,1) 0%, rgba(252,240,223,1) 10%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}



/* ////////// بالعربي ////////// */
 
html[dir="rtl"] #banner {
    background-position-x: -300px;
}

html[dir="rtl"] #banner .title{
    line-height: 1.5;
}